faknow==0.0.3
streamlit==1.32.2
tensorboard==2.16.2
tensorboard-data-server==0.7.2
torch==2.2.1
torchaudio==2.2.1
torchvision==0.17.1
transformers==4.39.0
gdown==4.6.0
openai==1.14.2
joblib~=1.2.0
gensim~=4.3.0
nltk~=3.8.1
serpapi==0.1.5
langchain==0.1.9
google-search-results==2.4.2


Flask==2.2.5
flask-cors
gunicorn==20.1.0
